<h1>{{ "@@title" | i18nextCap }}</h1>
<div class="top-menu">
  <nav>
    <a routerLink="/dashboard">{{ "@@menu-dashboard" | i18nextCap }}</a>
    <a routerLink="/heroes">{{ "@@menu-heroes" | i18nextCap }}</a>
  </nav>
  <select (change)="onLanguageChange($event)">
    <option
      *ngFor="let language of languages"
      [value]="language.value"
      [selected]="language.selected"
    >
      {{ language.text }}
    </option>
  </select>
</div>
<router-outlet></router-outlet>
<app-messages></app-messages>
