<div *ngIf="hero.id > 0">
  <h2>{{ hero.name | uppercase }}. {{ "@@title" | i18nextCap }}</h2>
  <div>
    <span>{{ "@@hero-id" | i18nextCap }}: </span>{{ hero.id }}
  </div>
  <div>
    <label [for]="inputs.heroName.id">{{ "@@hero-name" | i18nextCap }}: </label>
    <input
      [id]="inputs.heroName.id"
      [(ngModel)]="hero.name"
      placeholder="name"
    />
  </div>
</div>
<button (click)="goBack()">{{ "@@action-go-back" | i18next }}</button>
<button (click)="save()">{{ "@@action-save" | i18next }}</button>
